body{
    background-color: lightseagreen;
    font-family: 'Josefin Sans', sans-serif;
}
#searchArea input{
    width: 40%;
    height: 30px;
    font-size: 17px;
    border-radius: 10px;
    border: none;
}
.card{
    border-radius: 10px;
}
#footer a{
    text-decoration: none;
}
#footer span{
    color: black;
}
/* Media Query */
@media (max-width: 767px) {
    #upperPart h1{
        font-size: 35px;
    }
    .card{
        margin-bottom: 10px;
    }
    #searchArea input{
        width: 70%;
    }
}
@media (max-width: 500px){
    #upperPart h1{
        font-size: 30px;
    }
}